
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Templates</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                List of templates
                <a href="/templates/form" class="btn btn-sm btn-primary float-end">Add</a>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Thumbnail</th>
                            <th>Name</th>
                            <th>Slug</th>
                            <th>Categories</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each items}}
                        <tr>
                            <td></td>
                            <td>{{name}}</td>
                            <td>{{slug}}</td>
                            <td>{{category.name}}</td>
                            <td>
                                <a href="https://webneeder.com/{{demo_url}}" target="_blank" class="btn btn-sm btn-primary">View</a>
                                <a  href="/templates/edit/{{id}}" class="btn btn-sm btn-info">Edit</a>
                                <a href="/templates/{{id}}" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
