
<main>
    <div class="container-fluid px-4">
        
        <div class="card  my-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                List of Books
                <a href="/books/form" class="btn btn-sm btn-primary float-end">Add</a>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead >
                        <tr class="row">
                            <th class="col-1">Image</th>
                            <th  class="col-3">Name</th>
                            <th  class="col-4">Description</th>
                            <th  class="col-2">Audio_url</th>
                            <th class="col-2">Action</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        {{#each items.results}}
                        <tr class="row">
                            <td style=""><img src="/{{image}}" alt="image"></td>
                            <td style="">{{name}}</td>
                            <td  class=""><div><p class="overflow-auto">{{description}}</p></div></td>
                            <td  class="col-2"><div class="overflow-hidden"><a href="{{audio_url}}">{{audio_url}}</a></div></td>
                            <td class="col-2">
                                <a href="/books/one/{{id}}" class="btn btn-sm btn-primary">View</a>
                                <a  href="/books/edit/{{id}}" class="btn btn-sm btn-info">Edit</a>
                                <a href="/books/delete/{{id}}" class="btn btn-sm btn-danger">Del</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div data-count="{{items.count}}">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">All</a>
                            </li>
                            {{#each items.pages}}
                            <li class="page-item"><a class="page-link" href="/books?page={{this}}">{{this}}</a></li>
                            {{/each}}
                            <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none" id="accessToken">{{accessToken}}</div>
</main>
<script>
    localStorage.setItem('accessToken', document.querySelector('#accessToken').innerText)
</script>
