
<main>
    <div class="container-fluid px-4">
        
        <div class="card  my-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                List of Books
                <a href="/books/form" class="btn btn-sm btn-primary float-end">Add</a>
                {{!-- <button type="button" id="search_book"   class="btn btn-outline-info btn-sm float-end me-2">Search</button>
                <input type="text" id="keyword_search" class="float-end shadow-none rounded-3 p-1" placeholder="Search book..."> --}}
            </div>
            <div class="card-body">
                <table id="datatablesSimple" class="table">
                    <thead class="w-100">
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Author</th>
                            <th>Rate</th>
                            <th>View</th>
                            <th>Audio_url</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        {{#each items.results}}
                        <tr>
                            <td style=""><img src="{{image}}" alt="image"></td>
                            <td style="">{{name}}</td>
                            <td  class="">{{category_name}}</td>
                            <td  class="">{{user_name}}</td>
                            <td  class="">{{count_rate}}</td>
                            <td  class="">{{count_view}}</td>
                            <td  class="col-2"><div class="overflow-hidden"  style="max-width: 300px;"><a href="{{audio_url}}" target="_blank">{{audio_url}}</a></div></td>
                            <td class="col-2">
                                <a href="/books/one/{{id}}" class="btn btn-sm btn-primary">View</a>
                                <a  href="/books/edit/{{id}}" class="btn btn-sm btn-info">Edit</a>
                                <a href="/books/delete/{{id}}" class="btn btn-sm btn-danger">Del</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div data-count="{{items.count}}">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">All</a>
                            </li>
                            {{#each items.pages}}
                            <li class="page-item"><a class="page-link" href="/books?page={{this}}">{{this}}</a></li>
                            {{/each}}
                            <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none" id="accessToken">{{accessToken}}</div>
</main>
<script>
    localStorage.setItem('accessToken', document.querySelector('#accessToken').innerText)
</script>
<script src="/public/js/searchBook.js"></script>

